html {
	height: 100%;
}

body {
	background-color: #E8E8E8;
  height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}


.main-window {
	position: relative;
	background-image: url("https://www.jarrodyellets.com/images/sidewalkBack.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	height: 95vh;
	margin: 20px;
	display: block;
	overflow: hidden;
	padding: 0;
}

.menu:hover {
	color: #DEDEDE;
}

.rollover {
	width: 25vw;
	position: absolute;
	top: 15%;
	right: -600px;
}

.rolloverShow {
	right: 100px;
	animation: rollover 700ms;
}

.title {
	text-align: center;
	margin: 20px 0;
	font-weight: 700;
	font-size: 2em;
}

.frontEnd, .backEnd {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

.aboutRow {
	margin: 0 auto;
	padding: 30px;
}

.icon {
	font-size: 1.1em;
	padding: 10px;
	opacity: 0;
}

.text {
	font-size: 1.5em;
}

.about {
	padding: 0 0 15px 0;
	width: 85%;
	margin: 0 auto;
}

.portfolio {
	position: relative;
	padding: 0 0 15px 0;
	background-color: #DEDEDE;
	z-index: 1;
	overflow-x: hidden;
}

.contact {
	position: relative;
	padding: 0 0 15px 0;
	height: auto;
}

.input {
	margin-bottom: 10px;
}

.form-group {
	width: 80%;
	margin: 0 auto;
}

.links {
	color: #DEDEDE;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0 30px;
	font-size: 18px;
	cursor: pointer;
}

.button {
	background: #E8E8E8;
	border: 1px solid #333;
	border-radius: 1px;
	outline: none;
	font-size: 1em;
	padding: 5px 10px;
	margin: 0 5px;
	color: #333;
}

.button:hover, .button:focus {
	background-color: #333;
	color: #E8E8E8;
}

.top {
	margin-top: 10px;
}

.bottom {
	margin-bottom: 10px;
}

.computer {
	height: 100%;
}

.hid {
	left: -100%;
	display: none;
}

.center {
	left: 0;
	right: 0;
}

.screen {
	width: 90%;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 0;
	opacity: 1;
}

.placeholder {
	position: relative;
	opacity: 0;
	width: 90%;
	display: block;
	margin: 0 auto;
}


.portfolioText {
	position: relative;
	height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#filler {
	display: block;
	position: relative;
}

.portAbout {
	width: 80%;
	text-align: center;
	position: absolute;
	top: 0;
	padding-left: 20%;
}

.portTitle {
	margin-top: 0;
}

.portContainer {
	position: relative;
}

.hidRight {
	right: -150%;
}

.noDisplay {
	display: none;
}


.heading {
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
}

label {
	text-align: left;
	margin-bottom: 2px;
}

#linkedin {
	padding-right: 0;
}

.buttonDiv {
	text-align: center;
	padding: 5px;
}

.menuContact {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 10px;
	cursor: pointer;
	color: #333;
}

.menuContact:hover {
	color: #333;
}

.contact {
	width: 85%;
	margin: 0 auto;
}

.foot {
  color: #333;
  height: 100%;
  font-family: Raleway;
  text-align: center;
}

.nav-bar {
	position: relative;
	z-index: 20;
	height: 50px;
	max-height: 50px;
	width: 100%;
	padding: 0 5%;
	background: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
}

.linksWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.links:hover {
	color: #DEDEDE;
	text-decoration: none;
}

.navIcons {
	display: flex;
	font-size: 1.4em;
}

.menu {
	margin: 0 1.5vw;
	color: #DEDEDE;
}

.navLinks {
	display: flex;
}

.links {
	text-decoration: none;
	color: #DEDEDE;
	font-size: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 1.5vw;
}

.hamburger {
	display: none;
	text-decoration: none;
	color: #DEDEDE;
	padding-left: 30px;
	font-size: 20px;
}

.closeBtn {
	display: none;
}

@keyframes rollover {
	0% {
		transform: translateX(700px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}	

@media screen and (max-width: 860px){
	.button {
		font-size: 1em;
	}
}

@media screen and (max-width: 768px){
	body{
		font-size: 10px;
	}

	.main-window {
		margin: 0;
		height: 100%;
	}

	.navLinks {
		height: 100%;
		width: 170px;
		position: fixed;
		z-index: 5;
		top: 0;
		right: -170px;
		display: flex;
		flex-direction: column;
		background: #353535;
		color: #DEDEDE;
		font-size: 1.2em;
		overflow-x: hidden;
		padding-top: 60px;
		padding-left: 10px;
		box-sizing: border-box;
		-webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	-moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	-o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	}

	.width {
		right: 0;
	}

	.links {
		display: inline-block;
		padding: 10px 0;
	}

	.menu {
		margin: 0 3vw;
		color: #DEDEDE;
}

	.hamburger {
		display: block;
	}

	.closeBtn {
		position: absolute;
		display: block;
		top: 15px;
		right: 25px;
		color: #DEDEDE;
		font-size: 1.4em;
	}

	.icon {
		font-size: .8em;
		padding: 3px;
	}

	.text {
		text-align: center;
	}

	.portTitle {
		font-size: 24px;
	}

	.portfolioText {
		margin-top: 10px;
	}

	.button {
		font-size: 1em;
		padding: 3px;
		margin: 0 3px;
	}

	.top {
		margin-top: 20px;
	}

	.contact {
		text-align: center;
	}
	
	.contactForm {
		text-align: left;
		margin-top: 20px;
	}

}




