:root {
  --black: rgba(22, 21, 19, 0.7);
  --red: rgba(248, 22, 33, 0.7);
  --blue: rgba(16, 97, 202, 0.7);
  --green: rgba(1, 145, 94, 0.7);
  --purple: rgba(130, 4, 104, 0.7);
  --orange: rgba(255, 127, 0, 0.7);

}

html {
  height: 100%;
}

body {
  background-color: #e3e3e9;
  color: var(--black);
  height: 100%;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.main-window {
  position: relative;
  height: 95vh;
  margin: 20px 0;
  display: block;
  overflow: hidden;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu:hover {
  color: #dedede;
}

.rollover {
  width: 25vw;
  position: absolute;
  top: 15%;
  right: -600px;
}

.rolloverShow {
  right: 100px;
  -webkit-animation: rollover 700ms;
  animation: rollover 700ms;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15vh;
}

.heroAbout {
  display: flex;
  flex-direction: column;
  font-size: 2.4em;
  margin-left: 50px;
  opacity: .8;
}

.heroSpan {
  color: var(--red);
}

.downArrowWrapper {
  padding: 0 50px;
  margin: 100px auto 0 auto;
  cursor: pointer;
  width: 100px;
  opacity: .8;
}

.downArrow {
  position: relative;
  width: 5px;
  height: 0;
  border-radius: 30%;
  background: var(--purple);
  transform-origin: bottom;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

.downArrow:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 0;
  bottom: 0;
  left: 0;
  right: -1px;
  border-radius: 30%;
  transform: rotate(-30deg);
  transform-origin: bottom right;
  background: var(--purple);
  -webkit-transition: height 0.1s;
  transition: height 0.1s;
}

.downArrow:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 30%;
  transform: rotate(26deg);
  transform-origin: bottom left;
  background: var(--purple);
  -webkit-transition: height 0.1s;
  transition: height 0.1s;
}

.arrowHeight3 {
  height: 90px !important;
}

.downArrow.arrowHeight1:before {
  height: 42px;
}

.downArrow.arrowHeight2:after {
  height: 38px;
}

.profileImg {
  max-width: 420px;
}

.about {
  max-width: 1200px;
  margin: 80px auto 0 auto;
  padding-top: 50px;
}

.aboutHeader {
  color: var(--blue);
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
}

.titleImg {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.aboutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 20px;
}

.subHeader {
  font-size: 2.4em;
  color: var(--red);
  opacity: .8;
}

.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding-left: 100px;
}

.toolHeader {
  position: relative;
  font-weight: 700;
  color: var(--green);
  font-size: 1.2em;
  text-transform: uppercase;
}

.front,
.back,
.etc {
  position: relative;
}

.front:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: right 0.2s;
  -webkit-transition: right 0.2s;
}
.back:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(0.4deg);
  transform: rotate(0.4deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: right 0.2s;
  -webkit-transition: right 0.2s;
}
.etc:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(-0.8deg);
  transform: rotate(-0.8deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: right 0.1s;
  -webkit-transition: right 0.1s;
}

.stackText {
  font-size: 1.3em;
  color: var(--green);
  font-weight: 700;
  line-height: 1.6;
}

.stack-hash {
  position: relative;
}

.stack-hash:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -5px;
  top: 36%;
  opacity: 1;
  width: 12;
  background: var(--green);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  height: 3px;
  width: 0;
  border-radius: 40%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.stack-hash:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: -15px;
  top: 35%;
  opacity: 1;
  background: var(--green);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  height: 3px;
  width: 0;
  border-radius: 40%;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

.stack-hash.width:before {
  width: 16px;
}

.stack-hash.widthx:after {
  width: 13px;
}

.underlineWho,
.underlineWhat {
  position: relative;
}

.underlineWho:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 5px;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--red);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: right 0.3s;
  -webkit-transition: right 0.3s;
}

.underlineWhat:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 2px;
  right: 100%;
  bottom: 18%;
  opacity: 1;
  background: var(--red);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: right 0.3s;
  -webkit-transition: right 0.3s;
}

.underlineWho.right:before,
.underlineWhat.right:before,
.front.right:before,
.back.right:before,
.built.right:before {
  right: 5px;
}

.etc.right:before {
  right: 45%;
}

.text {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
  opacity: .8;
}

p {
  margin: 0;
}

.divider {
  font-size: 2.5em;
  text-align: center;
  color: var(--purple);
  margin: 80px 0;
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 90px;
  margin-top: 80px;
  justify-items: center;
}

.portfolioItem {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.imgWrapper {
  position: relative;
}

.portfolioImg {
  max-width: 350px;
}

.pImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all 3000ms ease-in-out;
  transition: all 3000ms ease-in-out;
}

.prImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.built {
  position: relative;
  color: var(--red);
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.built:before {
  position: absolute;
  content: '';
  z-index: 1;
  left: 2px;
  right: 100%;
  bottom: 18%;
  opacity: 1;
  background: var(--red);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(0.2deg);
  transform: rotate(0.2deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: right 0.1s;
  transition: right 0.1s;
  -webkit-transition: right 0.2s;
}

.builtWith {
  color: var(--green);
  font-weight: 700;
  text-transform: uppercase;
}

.buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn {
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 5px;
  color: var(--blue);
}

.btn:hover {
  color: var(--blue);
}

.btn:focus,
.btn:active {
  color: var(--blue);
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.contact {
  max-width: 1200px;
  margin: 0 auto 100px auto;
  position: relative;
  padding-top: 50px;
}

.contactWrapper {
  text-align: center;
}

.contactText {
  font-size: 1.7em;
  color: var(--red);
}

.contactIcons {
  margin: 20px 0 50px 0;
  opacity: .8;
}

.contactImage {
  margin: 0 20px;
  width: 60px;
}

.contactEmail {
  color: var(--blue);
  font-size: 2em;
}

.contactEmail:hover {
  text-decoration: none;
  color: var(--blue);
}

.arrowWrapper {
  position: absolute;
  bottom: 0;
  right: 10px;
  overflow: hidden;
}

.arrowFill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.arrow {
  cursor: pointer;
  width: 100px;
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}

.arrowFiller {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('https://www.jarrodyellets.com/images/arrowFill.png');
  background-size: cover;
  width: 100%;
  height: 0;
  opacity: 0.7;
  -webkit-transition: height 2s linear;
  transition: height 2s linear;
  cursor: pointer;
}

.menuContact {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 10px;
  cursor: pointer;
  color: var(--black);
}

.menuContact:hover {
  color: #333;
}

.foot {
  color: #333;
  height: 100%;
  text-align: center;
}

.nav-bar {
  position: fixed;
  z-index: 1000;
  height: 50px;
  top: 0;
  right: 0;
  font-size: 0.467em;
  max-height: 100px;
  width: 100%;
  padding: 40px 5% 40px 5%;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #e3e3e9;
}

.nav-bar:before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 30%;
  opacity: .8;
  background: var(--black);
  -webkit-transition: width 1.2s;
  transition: width 1.2s; 
}

.nav-bar.navLineWidth:before {
  width: 100vw
}

.navFade {
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.linksWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  opacity: .8;
}

.navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.menu {
  position: relative;
  margin: 0 1.5vw;
  color: #dedede;
}

.menu:before {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  top: -7px;
  left: -5px;
  opacity: 0;
  border-radius: 30%;
  transform: rotate(48deg);
  transform-origin: top left;
  background: var(--red);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: 1001;
}

.menu:after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  top: -4px;
  right: -1px;
  opacity: 0;
  border-radius: 30%;
  transform: rotate(-48deg);
  transform-origin: top right;
  background: var(--red);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: 1001;
}

.menu:hover:before {
  width: 65px;
  opacity: 1;
}

.menu:hover:after {
  width: 70px;
  opacity: 1;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  text-decoration: none;
  color: var(--blue);
  font-size: 2.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 1.5vw;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.links:hover {
  color: var(--blue);
  text-decoration: none;
}

.menuImage {
  position: relative;
  width: 40px;
}

.sticky {
  position: fixed;
  color: #dedede;
  font-size: 7.54px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: bounce 0.5s ease-in-out;
  animation: bounce 0.5s ease-in-out;
}

.sticky .links {
  color: #dedede;
}

.sticky .navIcons {
  font-size: 19px;
}

.navIcons a:focus {
  color: #dedede;
}

.fab:focus {
  color: #dedede;
  outline: none;
}

/* #home:hover {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
}

#about:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
}

#portfolio:hover {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
}

#contact:hover {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
} */

.hamburger {
  display: none;
  text-decoration: none;
  color: #dedede;
  padding-left: 30px;
  font-size: 20px;
}

.hvr-underline-from-left {
  position: relative;
}

.hvr-underline-from-left:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 10px;
  right: 100%;
  bottom: 10px;
  opacity: 0;
  background: var(--blue);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  height: 3px;
  border-radius: 30%;
  transition: opacity 0.15s, right 0.25s;
  -webkit-transition: opacity 0.15s, right 0.25s;
}

.hvr-underline-from-left:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 20px;
  right: 100%;
  bottom: 0;
  opacity: 0;
  background: var(--blue);
  -webkit-transform: rotate(0.51deg);
  transform: rotate(0.51deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  height: 3px;
  border-radius: 30%;
  transition: opacity 0.15s, right 0.25s;
  -webkit-transition: opacity 0.15s, right 0.25s;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 10px;
  opacity: 1;
  outline: 1px solid transparent;
}

.hvr-underline-from-left:hover:after,
.hvr-underline-from-left:focus:after,
.hvr-underline-from-left:active:after {
  right: 25px;
  opacity: 1;
  outline: none !important;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.mail-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(10px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.mail-underline:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 20px;
  opacity: 0;
  background: var(--blue);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: opacity 0.15s, right 0.35s;
  transition: opacity 0.15s, right 0.35s;
  -webkit-transition: opacity 0.15s, right 0.25s;
}

.mail-underline:hover:before,
.mail-underline:focus:before,
.mail-underline:active:before {
  right: 3px;
  opacity: 1;
  outline: 1px solid transparent;
}

.mail-underline:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 100%;
  right: 3px;
  bottom: 11px;
  opacity: 1;
  background: var(--blue);
  height: 3px;
  border-radius: 35%;
  -webkit-transform: rotate(-4.02deg);
  transform: rotate(-4.02deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  transition: opacity 0.1s, left 0.15s;
  -webkit-transition: opacity 0.1s, left 0.15s;
}

.mail-underline:hover:after,
.mail-underline:focus:after,
.mail-underline:active:after {
  left: 70%;
  outline: 1px solid transparent;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.social-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(10px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.social-hover:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 43%;
  bottom: 60%;
  opacity: 0;
  background: var(--black);
  height: 0;
  width: 4px;
  border-radius: 40%;
  transition: height 0.1s;
  -webkit-transition: height 0.1s;
}

.social-hover:after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 40%;
  opacity: 1;
  background: var(--black);
  height: 0px;
  width: 4px;
  border-radius: 40%;
  transition: height 0.1s;
  -webkit-transition: height 0.1s;
}

.social-hover:hover:before,
.social-hover:focus:before,
.social-hover:active:before {
  height: 13px;
  opacity: 1;
  outline: none !important;
}

.social-hover:hover:after,
.social-hover:focus:after,
.social-hover:active:after {
  height: 11px;
  opacity: 1;
  outline: none !important;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  95% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  95% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes rollover {
  0% {
    -webkit-transform: translateX(700px);
    transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes rollover {
  0% {
    -webkit-transform: translateX(700px);
    transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media screen and (max-width: 1100px) {
  .portfolioGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .aboutWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .me,
  .stack {
    width: 80%;
    margin-right: 0;
  }

  .tools {
    padding: 0;
  }

  .divider {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 860px) {
  .button {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 20px;
  }

  .main-window {
    margin: 0;
    height: 100%;
  }

  .nav-bar {
    font-size: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
  }

  .navLinks {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 10;
    top: 50px;
    right: -170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    color: #dedede;
    font-size: 1.2em;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .rollOver,
  .rolloverShow {
    display: none;
  }

  .width {
    right: 0;
  }

  #about:hover,
  #portfolio:hover,
  #contact:hover,
  #home:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
  }

  .links {
    display: inline-block;
    padding: 10px 0;
  }

  .links:hover {
    color: #dedede;
    background: rgba(0, 0, 0, 0);
  }

  #mail-icon {
    margin-left: 0;
  }

  .menu {
    margin: 0 3vw;
    color: #dedede;
  }

  .navIcons {
    font-size: 1.9em;
  }

  .hamburger {
    display: block;
  }

  .mobileToggle {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .nav-bar .linksWrapper a:focus {
    color: #dedede;
  }

  a:focus,
  a:hover {
    color: #dedede;
    text-decoration: none;
  }

  .mobileToggle:hover,
  .mobileToggle:focus {
    color: #dedede;
  }

  .sticky {
    -webkit-animation: none;
    animation: none;
  }

  .navFade {
    -webkit-animation: none;
    animation: none;
  }

  .closeBtn {
    position: absolute;
    display: block;
    top: 15px;
    right: 25px;
    color: #dedede;
    font-size: 1.4em;
  }

  #home {
    display: block;
  }

  .me,
  .stack {
    width: 90%;
    margin-right: 0;
  }

  .stack-hash:before {
    left: -3px;
  }

  .stack-hash:after {
    left: -11px;
  }

  .stack-hash.width:before,
  .stack-hash.widthx:after {
    width: 10px;
    height: 2px;
  }

  .divider {
    margin: 40px 0;
  }

  .tools {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .toolEtc {
    margin: 0 auto;
    padding: 0 30%;
  }

  .text {
    font-size: 1em;
    font-weight: 700;
  }

  .titleImg {
    width: 300px;
  }

  .toolsLeft {
    margin-right: 40px;
  }

  .portfolioImg {
    max-width: 310px;
  }

  .portfolioItem {
    max-width: 310px;
  }

  .button {
    font-size: 1.1em;
    padding: 6px;
    margin: 0 2px;
  }

  .contact {
    padding: 50px 20px 0 20px;
  }

  .contactImage {
    margin: 0 10px;
    width: 40px;
  }

  .contactEmail {
    font-size: 1.8em;
  }

  .arrowWrapper {
    position: relative;
    width: 100px;
    margin: 50px auto 0 auto;
    display: block;
    text-align: center;
  }

  .social-hover:before {
    width: 3px;
  }

  .social-hover:after {
    width: 3px;
  }

  .mail-underline:before {
    height: 2px;
    bottom: 16px;
  }

  .underlineWho:before,
  .underlineWhat:before,
  .hvr-underline-from-left:before,
  .hvr-underline-from-left:after,
  .mail-underline:after,
  .mail-underline:after,
  .stack-hash:before,
  .front:before,
  .back:before,
  .etc:before,
  .built:before {
    height: 2px;
  }

  @media screen and (max-width: 700px) {
    .portfolioGrid {
      grid-template-columns: repeat(1, 1fr);
    }

    .divider {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 320px) {
    /* .stackText {
    font-size: .9em;
  } */
  }
}
