:root {
  --black: rgba(22, 21, 19, .7);
  --red: rgba(248, 22, 33, .7);
  --blue: rgba(16, 97, 202, .7);
  --green: rgba(1, 145, 94, .8);
  --purple: rgba(130, 4, 104, .7);
}

html {
  height: 100%;
}

body {
  background-color: #e3e3e9;
  color: var(--black);
  height: 100%;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


.main-window {
  position: relative;
  background-image: url("https://www.jarrodyellets.com/images/sidewalkBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  height: 95vh;
  margin: 20px;
  display: block;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.menu:hover {
  color: #DEDEDE;
}

.rollover {
  width: 25vw;
  position: absolute;
  top: 15%;
  right: -600px;
}

.rolloverShow {
  right: 100px;
  animation: rollover 700ms;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
}

.titleImg {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.about {
  margin-top: 80px;
}

.aboutWrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px;
}

.subHeader {
  font-size: 2.4em;
  color: var(--red);
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 100px;
}

.toolHeader {
  position: relative;
  font-weight: 700;
  color: var(--green);
  font-size: 1.2em;
  text-transform: uppercase;
}

.front, .back, .etc {
  position: relative;
}

.front:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  transform: rotate(1deg);
  transform-origin: top left;
  transition: right .2s;
  -webkit-transition: right .2s;
}
.back:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  transform: rotate(0.4deg);
  transform-origin: top left;
  transition: right .2s;
  -webkit-transition: right .2s;
}
.etc:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--green);
  height: 3px;
  border-radius: 35%;
  transform: rotate(-.8deg);
  transform-origin: top left;
  transition: right .1s;
  -webkit-transition: right .1s;
}

.stackText {
  font-size: 1.2em;
  color: var(--green);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
}

.stack-hash {
  position: relative;
}

.stack-hash:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -5px;
  top: 36%;
  opacity: 1;
  width: 12;
  background: var(--green);
  transform: rotate(135deg);
  transform-origin: top left;
  height: 3px;
  width: 0;
  border-radius: 40%;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.stack-hash:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -15px;
  top: 35%;
  opacity: 1;
  background: var(--green);
  transform: rotate(45deg);
  transform-origin: top left;
  height: 3px;
  width: 0;
  border-radius: 40%;
  -webkit-transition: width .1s;
  transition: width .1s;
}

.stack-hash.width:before {
  width: 12px;
}

.stack-hash.widthx:after {
  width: 13px;
}

.underlineWho, .underlineWhat {
  position: relative;
}

.underlineWho:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 5px;
  right: 100%;
  bottom: 17%;
  opacity: 1;
  background: var(--red);
  height: 3px;
  border-radius: 35%;
  transform: rotate(1deg);
  transform-origin: top left;
  transition: right .3s;
  -webkit-transition: right .3s;
}

.underlineWhat:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 2px;
  right: 100%;
  bottom: 18%;
  opacity: 1;
  background: var(--red);
  height: 3px;
  border-radius: 35%;
  transform: rotate(-1deg);
  transform-origin: top left;
  transition: right .3s;
  -webkit-transition: right .3s;
}

.underlineWho.right:before, .underlineWhat.right:before, .front.right:before, .back.right:before, .built.right:before {
  right: 5px;
}

.etc.right:before {
  right: 45%;
}

.text {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
}

p {
  margin: 0;
}

.divider {
  font-size: 2.5em;
  text-align: center;
  color: var(--purple);
  margin: 80px 0;
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 90px;
  margin-top: 80px;
  justify-items: center;
}

.portfolioItem {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.imgWrapper {
  position: relative;
}

.portfolioImg {
  max-width: 350px;
}

.pImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 3000ms ease-in-out;
}

.built {
  position: relative;
  color: var(--red);
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.built:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 2px;
  right: 100%;
  bottom: 18%;
  opacity: 1;
  background: var(--red);
  height: 2px;
  border-radius: 35%;
  transform: rotate(1.2deg);
  transform-origin: top left;
  transition: right .1s;
  -webkit-transition: right .1s;
}

.builtWith {
  color: var(--green);
  font-weight: 700;
  text-transform: uppercase;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 5px;
  color: var(--blue);
}

.btn:hover {
  color: var(--blue);
}

.btn:focus, .btn:active {
  color: var(--blue);
  outline: none !important;
  box-shadow: none !important;
}

.contact {
  max-width: 1200px;
  margin: 0 auto 100px auto;
  position: relative;
}

.contactWrapper {
  text-align: center;
}

.contactText {
  font-size: 1.7em;
  color: var(--red);
}

.contactIcons {
  margin-bottom: 50px;
}

.contactImage {
  margin: 0 20px;
  width: 60px;
}

.contactEmail {
  color: var(--blue);
  font-size: 2em;
}

.contactEmail:hover {
  text-decoration: none;
  color: var(--blue);
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
  width: 100px;
  filter: opacity(70%);
}

.menuContact {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 10px;
  cursor: pointer;
  color: var(--black);
}

.menuContact:hover {
  color: #333;
}

.foot {
  color: #333;
  height: 100%;
  text-align: center;
}

.nav-bar {
  position: relative;
  z-index: 20;
  height: 50px;
  font-size: 0.467em;
  max-height: 50px;
  width: 100%;
  padding: 0 5%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.linksWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navIcons {
  display: flex;
  font-size: 1.4em;
}

.menu {
  margin: 0 1.5vw;
  color: #DEDEDE;
}

.navLinks {
  display: flex;
}

.links {
  text-decoration: none;
  color: #DEDEDE;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 1.5vw;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  transition: all .3s;
}

.links:hover {
  color: rgba(0 ,0 , 0, 0,5);
  background: #DEDEDE;
  text-decoration: none;
}

#about:hover {
  transform: rotate(5deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);

}

#portfolio:hover {
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
}

#contact:hover {
  transform: rotate(2deg);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.75);
}

.hamburger {
  display: none;
  text-decoration: none;
  color: #DEDEDE;
  padding-left: 30px;
  font-size: 20px;
}

.closeBtn {
  display: none;
}

.hvr-underline-from-left {
  position: relative;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 10px;
  right: 100%;
  bottom: 10px;
  opacity: 0;
  background: var(--blue);
  /* transform: rotate(1.01deg); */
  transform-origin: top left;
  height: 3px;
  border-radius: 30%;
  transition: opacity .15s, right .25s;
  -webkit-transition: opacity .15s, right .25s linear;
}

.hvr-underline-from-left:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 20px;
  right: 100%;
  bottom: 0;
  opacity: 0;
  background: var(--blue);
  transform: rotate(.51deg);
  transform-origin: top left;
  height: 3px;
  border-radius: 30%;
  transition: opacity .15s, right .25s;
  -webkit-transition: opacity .15s, right .25s;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 10px;
  opacity: 1;
  outline: 1px solid transparent;
}

.hvr-underline-from-left:hover:after, .hvr-underline-from-left:focus:after, .hvr-underline-from-left:active:after {
  right: 25px;
  opacity: 1;
  outline: none !important;
  transition-delay: .25s;
}

.mail-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(10px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.mail-underline:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 20px;
  opacity: 0;
  background: var(--blue);
  height: 3px;
  border-radius: 35%;
  transform: rotate(1deg);
  transform-origin: top left;
  transition: opacity .15s, right .35s;
  -webkit-transition: opacity .15s, right .25s;
}

.mail-underline:hover:before, .mail-underline:focus:before, .mail-underline:active:before {
  right: 3px;
  opacity: 1;
  outline: 1px solid transparent;
}

.mail-underline:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 100%;
  right: 3px;
  bottom: 11px;
  opacity: 1;
  background: var(--blue);
  height: 3px;
  border-radius: 35%;
  transform: rotate(-4.02deg);
  transform-origin: bottom right;
  transition: opacity .10s, left .15s;
  -webkit-transition: opacity .10s, left .15s;
}

.mail-underline:hover:after, .mail-underline:focus:after, .mail-underline:active:after {
  left: 70%;
  outline: 1px solid transparent;
  transition-delay: .20s;
}

.social-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(10px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.social-hover:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 43%;
  bottom: 60%;
  opacity: 0;
  background: var(--black);
  height: 0;
  width: 4px;
  border-radius: 40%;
  transition: height .1s;
  -webkit-transition: height .1s;
}

.social-hover:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 40%;
  opacity: 1;
  background: var(--black);
  height: 0px;
  width: 4px;
  border-radius: 40%;
  transition: height .1s;
  -webkit-transition: height .1s;
}

.social-hover:hover:before, .social-hover:focus:before, .social-hover:active:before {
  height: 13px;
  opacity: 1;
  outline: none !important;
}

.social-hover:hover:after, .social-hover:focus:after, .social-hover:active:after {
  height: 11px;
  opacity: 1;
  outline: none !important;
  transition-delay: .25s;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

@keyframes rollover {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media screen and (max-width: 1100px){
  .portfolioGrid {
    grid-template-columns: repeat(2, 1fr)
  }

  .aboutWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .me, .stack {
    width: 80%;
    margin-right: 0;
  }

  .tools {
    padding: 0;
  }

  .divider {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 860px){
  .button {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px){
  body{
    font-size: 20px;
  }

  .main-window {
    margin: 0;
    height: 100%;
  }

  .nav-bar {
    font-size: .5em;
  }

  .navLinks {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: -170px;
    display: flex;
    flex-direction: column;
    background: #353535;
    color: #DEDEDE;
    font-size: 1.2em;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .rollOver, .rolloverShow {
    display: none;
  }

  .width {
    right: 0;
  }

  #about:hover, #portfolio:hover, #contact:hover {
    box-shadow: none;
  }

  .links {
    display: inline-block;
    padding: 10px 0;
  }

  .links:hover {
    color: #DEDEDE;
    background: rgba(0, 0, 0, 0);
  }

  #about:hover {
    transform: none;
  }
  
  #portfolio:hover {
    transform: none;
  }
  
  #contact:hover {
    transform: none;
  }

  #mail-icon {
    margin-left: 0;
  }

  .menu {
    margin: 0 3vw;
    color: #DEDEDE;
  }

  .navIcons {
    font-size: 1.9em;
  }

  .hamburger {
    display: block;
  }

  .closeBtn {
    position: absolute;
    display: block;
    top: 15px;
    right: 25px;
    color: #DEDEDE;
    font-size: 1.4em;
  }

  .me, .stack {
    width: 90%;
    margin-right: 0;
  }

  .stack-hash:before {
    left: -8px;
  }

  .stack-hash.width:before, .stack-hash.widthx:after {
    width: 10px;
    height: 2px;
  }

  .toolHeader {
    font-size: 1em;
  }

  .stackText {
    font-size: .8em;
  }

  .text {
    font-size: 1em;
    font-weight: 700;
  }

  .titleImg {
    width: 300px;
  }

  .toolsLeft {
    margin-right: 40px;
  }

  .portfolioImg {
    max-width: 310px;
  }

  .portfolioItem {
    max-width: 310px;
  }

  .button {
    font-size: 1.1em;
    padding: 6px;
    margin: 0 2px;
  }

  .contact {
    padding: 0 20px;
  }

  .contactImage {
    margin: 0 10px;
    width: 40px;
  }

  .contactEmail {
    font-size: 1.8em;
  }

  .arrow {
    position: relative;
    margin: 50px auto 0 auto;
    display: block;
    text-align: center;
  }

  .social-hover:before {
    width: 3px;
  }

  .social-hover:after {
    width: 3px;
  }

  .mail-underline:before {
    height: 2px;
    bottom: 16px;
  }

  .underlineWho:before, .underlineWhat:before, .hvr-underline-from-left:before, .hvr-underline-from-left:after, .mail-underline:after, .mail-underline:after, .stack-hash:before, .front:before, .back:before, .etc:before {
    height: 2px;
  }

@media screen and (max-width: 700px) {
  .portfolioGrid {
    grid-template-columns: repeat(1, 1fr)
  }

  .divider {
    font-size: 1.2em;
  }
}

}
